<div class="table-container">
  <h1>SFTP - Grid de Arquivos</h1>
  <p-table [paginator]="true" [rows]="10" [columns]="tableCols" [value]="arquivos" styleClass="p-datatable-striped p-datatable-lg" responsiveLayout="scroll"
    [showCurrentPageReport]="true" [(first)]="first" [rowsPerPageOptions]="[10,25,50]"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} arquivos processados"
    (onPage)="handlePageChange($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          <div class="status-icon-wrapper">
            <div class="status-icon" [ngClass]="rowData['status'] === 'OK' ? 'status-success' : 'status-error'">
              <i class="pi" [ngClass]="rowData['status'] === 'OK' ? 'pi-check' : 'pi-times'"></i>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>